import { connect } from 'react-redux';

{{#if wantSaga}}
import injectSaga from 'utils/injectSaga';
{{/if}}
{{#if wantActionsAndReducer}}
import injectReducer from 'utils/injectReducer';
import { {{properCase name}} } from './selectors';
import reducer from './reducer';
{{/if}}
{{#if wantSaga}}
import saga from './saga';
{{/if}}

{{#if wantActionsAndReducer}}
const mapStateToProps = state => ({
  {{ camelCase name }}: {{properCase name}}(state),
});
{{/if}}

const actions = {
  // defaultAction
};

export default {{ properCase name }}Component
  |> connect(mapStateToProps, actions)
  |> injectSaga({ key: '{{ camelCase name }}', saga })
  |> injectReducer({ key: '{{ camelCase name }}', reducer });
