import React from 'react';
// import {} from 'recompose';
// import PropTypes from 'prop-types';

const {{ properCase name }} = () => (
  <div />
);

{{ properCase name }}.propTypes = {};

export default {{ properCase name }};
